<% layout('/_layouts/main') %>

  <section class="story_box">

    <div class="story_box__item image">
      <img src="/images/common/image_720x400.png" alt="image_720x400">
    </div>

    <div class="story_box__item monologue">
      <div class="text">
<p>
あなたが目覚めると、そこは見知らぬ場所でした。
</p>
<p>
なんだかふわふわ明るい心地になる、不思議な場所です。
夢をみているような、でもなぜか確かに夢ではないと感じます。
</p>
<p>
そうやって頭が冴えず、ぼうっとしているあなたに
やわらかく、しかしすこし悲しげな女性の声が、どこからか語りかけてきます。
</p>
      </div>
    </div>

    <div class="story_box__item speak">
      <img class="chara_image" src="/images/common/icon.png" alt="icon" width="64" height="64">
      <div class="text">
<p>「おねがいです……わたしの愛しいこの世界を、
どうか救ってはくださいませんでしょうか……？」</p>
      </div>
    </div>

  </section>

  <section class="t_right">
    <a class="btn-normal green" data-btnName="next" href="/tutorial/p01">つぎへ</a>
  </section>
