<% layout('/_layouts/main') %>

  <h3>マイページindex</h3>

  <section>
    <p>マイページindexです。</p>

    <p style="margin-top:50px;">開発中ページ一覧</p>
    <ul style="margin-left:20px;">
      <li><a href="/tutorial">チュートリアル０ - /tutorial/</a></li>
      <li><a href="/tutorial/p-01">チュートリアル１ - /tutorial/p-01/</a></li>
      <li><a href="/battle/sample">戦闘サンプル - /battle/sample/</a></li>
      <li><a href="/config">設定 - /config/</a></li>
      <li><a href="/create/user">ユーザー新規作成 - /create/user/</a></li>
      <li><a href="/user/listst">ユーザーリスト - /user/listst/</a></li>
    </ul>
  </section>
