<% layout('/_layouts/main') %>

  <h3>マイページindex</h3>

  <section>
    <p>マイページindexです。</p>

    <p style="margin-top:50px;">開発中ページ一覧</p>
    <ul style="margin-left:20px;">
      <li><a href="/tutorial">/tutorial/</a></li>
      <li><a href="/tutorial/p01">/tutorial/p01/</a></li>
      <li><a href="/battle/sample">/battle/sample/</a></li>
      <li><a href="/config">/config/</a></li>
      <li><a href="/create/user">/create/user/</a></li>
      <li><a href="/user/test">/user/test/</a></li>
    </ul>
    <p>（testさんはデバック用ユーザーだよ）</p>
  </section>
