<% layout('/_layouts/main') %>
<article class="views agreement">


  <h2>利用規約</h2>

  <section class="text">
  <h3>みんなでなかよく</h3>
  <p>
    みんなで仲良く楽しく遊びましょう。<br>
  </p>
  </section>

  <section class="text">
  <h3>不快な思いをさせない</h3>
  <p>
    人に不快な思いをさせないように心がけましょう。<br>
  </p>
  </section>

  <section class="text">
  <h3>利用規約について</h3>
  <p>
    ・なにか問題が起こるたびに追記されていきますので気をつけて下さい。
    ・登録時に同意したものとみなします。
    ・追記形式なので、登録後に変更された内容も適応されるのでちゃんと守ってね。
  </p>
  </section>


</article>
