<% layout('/_layouts/main') %>

  <h2>info</h2>

  <section class="text">
  <h3>不具合報告やご要望、問い合わせなどについて</h3>
  <p>
    <a href="https://twitter.com/mushipanfactory" target="_blank">MUSHIPAN-FACTORYのTwitterアカウント</a>までリプライやDMでご連絡ください。<br>
    基本的には直接お返事はできかねるかと思いますが、ご理解ください。
  </p>
  </section>


  <section class="text">
  <h3>MUSHIPAN-FACTORYについて</h3>
  <p>「MUSHIPAN-FACTORY」もとい「蒸しパン工場」は、「Oknu」の個人サークルです。<br>
    <small class="t_gray">名前どうやっても発音できないんでどうしても発話する必要あれば「おぬー」とか「工場長」とでも読んでくれれば。</small>
  </p>
  </section>


  <section class="text">
  <h3>課金させて</h3>
  <p><a href="https://www.amazon.co.jp/registry/wishlist/Y3568K3NO8F7/ref=cm_sw_r_tw_ws_x_e3m9xbE6WXD65?sort=universal-price-desc&view=null" target="_blank">https://www.amazon.co.jp/registry/wishlist/Y3568K3NO8F7/ref=cm_sw_r_tw_ws_x_e3m9xbE6WXD65?sort=universal-price-desc&view=null</a></p>
  </section>
