@charset "utf-8";
/*****************************************
  General
*****************************************/

.t_right{ text-align:right; }
.t_left{ text-align:left; }
.t_center{ text-align:center; }

.t_10{ font-size: 10px; }
.t_12{ font-size: 12px; }
.t_14{ font-size: 14px; }
.t_16{ font-size: 16px; }
.t_18{ font-size: 18px; }
.t_20{ font-size: 20px; }
.t_22{ font-size: 22px; }
.t_24{ font-size: 24px; }

.mt10{ margin-top:10px; }
.mt20{ margin-top:20px; }
.mt30{ margin-top:30px; }
.mb10{ margin-bottom:10px; }
.mb20{ margin-bottom:20px; }
.mb30{ margin-bottom:30px; }

.b_flex{
  display: flex;
  flex-flow: wrap row;
}
.d_tbl{
  display: table;
  &__item{
    display: table-cell;
    vertical-align:middle;
  }
}
