@charset "utf-8";
/*****************************************
  Partial
*****************************************/
/*
+ t_color
*/
@each $key in $colors_name {
  $i: index($colors_name, $key);
  .t_#{$key}{ color: nth($colors, $i); }
}

/* ======================================
+ btn
======================================*/
.btn,a.btn{

  &-normal{
    display:inline-block;
    color:#fff;
    padding:5px;
    text-align:center;
    position: relative;
    top:0;
    background: #fff;
    letter-spacing:0.05em;
    @include set-prefix(border-radius,5px);
    @include set-prefix(transition,top ease-in 150ms,box-shadow ease-in 150ms,color ease-in 150ms,background-color ease-in 150ms);

    @each $key in $colors_name {
      $i: index($colors_name, $key);
      &.#{$key}{
        background: nth($colors, $i);
        box-shadow: 0px 2px 0 rgba(50,20,0,.2) //影
        , 0px 2px 0 nth($colors, $i) //影下地
        , 0 0 0 1px #333, 0 2px 0 1px #333 //枠
        ,inset 0 0 0 rgba(0,0,0,.1) //内影
        , 0 0 0 2px #fff, 0 2px 0 2px #fff; //外枠
        text-shadow: -1px -1px 1px rgba(50,20,0,.3), 0px 0px 3px rgba(50,20,0,.3);
      }
    }
    //黒だけ影を濃いめに
    &.dark_gray{
      background: $dark_gray;
      box-shadow: 0px 2px 0 rgba(50,20,0,.6) //影
      , 0px 2px 0 $dark_gray //影下地
      , 0 0 0 1px #333, 0 2px 0 1px #333 //枠
      ,inset 0 0 0 rgba(0,0,0,.6) //内影
      , 0 0 0 2px #fff, 0 2px 0 2px #fff; //外枠
      text-shadow: -1px -1px 1px rgba(50,20,0,.5), 0px 0px 3px rgba(50,20,0,.5);
    }

    &:hover, &:active {
      over-flow: hidden;
      top:2px;
      color:#fff;
      cursor:pointer;
      @include set-prefix(transition,top ease-out 150ms,box-shadow ease-out 150ms,color ease-out 150ms,background-color ease-out 150ms);

      @each $key in $colors_name {
        $i: index($colors_name, $key);
        &.#{$key}{
          box-shadow: 0 0 0 rgba(50,20,0,.2) //影
          , 0 0 0 nth($colors, $i) //影下地
          , 0 0 0 1px #333, 0 0 0 1px #333 //枠
          ,inset 0px 1px 0px rgba(0,0,0,.1) //内影
          , 0 0 0 2px #fff, 0 0 0 2px #fff; //外枠
          background: nth($colors, $i);
        }
      }
    }
    .middle{
      width: 120px;
      height: 36px;
    }
  }

  &-solid{
    color:#000;
    display:inline-block;
    background:#fff;
    border:1px solid #333;
    position:relative;
    letter-spacing:0.05em;
    text-align:center;
    font-weight:600;
    padding:5px;
    margin:0;
    box-shadow:2px 2px 0 #000;
    @include set-prefix(border-radius,3px);

    @include set-prefix(transition,box-shadow ease-in 100ms,margin ease-in 100ms);
    &:hover{
      box-shadow:none;
      margin:2px -2px -2px 2px;
      @include set-prefix(transition,box-shadow ease-in 100ms,margin ease-in 100ms);
    }
  }

  &-flat{
    &.black{
      background: $black;
    }
    &.dark_gray{
      background: $dark_gray;
    }
    display:inline-block;
    color:#fff;
    padding: 3px 10px;
    text-align:center;
    position: relative;
    letter-spacing:0.05em;
    @include set-prefix(border-radius,3px);
    @include set-prefix(transition,all ease-out 150ms);
    &:hover{
      cursor: pointer;
      background: $yellow;
      @include set-prefix(transition,all ease-out 150ms);
    }
  }

}
section {
.btn,a.btn{
  &-normal{
    font-weight: 500;
  }
}
}


/* ======================================
+ story
======================================*/
.story_box{

  &.solo{
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 0 3px rgba(0,0,0,.1);
    .speak .text{
    }
  }
  &:first-child{
    margin-top:0;
  }

  &__item{

    margin:25px 0;
    position:relative;

    .text{
      margin:0 10px;
      padding:10px 15px;
      p{
        margin:10px 0 0;
        white-space:pre-wrap;
        &:first-child{
          margin-top:0;
        }
      }
    }

    // 画像
    &.image{
      img{
        max-width:100%;
        height:auto;
      }
      position:relative;
    }

    // セリフ
    &.speak{
      display:flex;
      margin:15px 10px;
      &>*{
        display:flex-item;
      }
      .text{
        position:relative;
        background:#fafafa;
        background: rgba(200,200,200,.15);
        @include set-prefix(border-radius,10px);
      }
    }

    // モノローグ
    &.monologue{
    }

  }





}
