<% layout('/_layouts/main') %>
<script src="/js/views/<%= pageJsName %>Controller.js"></script>

  <section class="text">
  <p>
    「cololo」はブラウザでプレイできる、<br>
    オンラインRPGゲームです。
  </p>
  <p>
    あなただけのオリジナルキャラクターを<br>
    あなた好みに育てて冒険しましょう！
  </p>
  </section>

  <section class="start_btns">
  <% if (typeof user !== 'undefined') { %>
      <div class="true">
        <a class="btn-normal red " href="/mypage">GAME START</a>
      </div>
  <% }else{ %>
      <div class="false">
        <a class="btn-normal blue" href="/login">ログイン</a>
        <a class="btn-normal yellow" href="/user/create">新規登録</a>
      </div>
  <% } %>
  </section>

  <section class="text">
    <small>
      「cololo」は個人運営なので、基本的にゆるゆる対応＆個人の裁量で全てが決まります。ご了承下さい。
    </small>
    <p class="t_gray t_12">
      ※IEの古いやつは、めんどくさいので未対応です。推奨はブラウザはGoogle Chrome。<!--というか最新版のGoogle Chrome以外でデバッグしていない。-->
    </p>
  </section>
