// ================ var ================= //

//color
$red:#c81e22;
$black:#373737;
$glay:#cfcfcf;

$pink:#fd7b7b;
$light_glay:#f0f0f0;

$blue:#11a4c4;
$green:#54cc14;
$yellow:#f2cb00;
$orange:#f57214;
$red:#ff4747;
$purple:#a73db6;
$gray:#ccc;

$colors : $blue,$green,$yellow,$orange,$red,$purple,$gray;
$colors_name :blue,green,yellow,orange,red,purple,gray;
