@charset "utf-8";
/*****************************************
  Common
*****************************************/




/* ======================================
+ body
======================================*/
//import
@import 'https://fonts.googleapis.com/css?family=Titillium+Web:200,200i,300,300i,400i,600,600i,700,700i,900';
//@import 'http://fonts.googleapis.com/earlyaccess/notosansjp.css';
//'Noto Sans JP' はTitillium Webと相性が悪いのでやめにした
body{
  font-family: Titillium Web , "Meiryo UI" , "メイリオ" , Meiryo , Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Verdana , Arial , 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro',  sans-serif;
}
body{
  font-size:15px;
  overflow: hidden;
  word-break: break-all;
}

/* ======================================
+ #container
----------------------------------------
> 全てのページでbodyの直下にある要素。
======================================*/
#container{

}

/* ======================================
+ header / footer
----------------------------------------
> ヘッダーとフッター。
======================================*/
header{

  padding-top: 40px;
  box-shadow: 0 3px 3px rgba(0,0,0,.03);
  border-bottom:1px solid rgba(0,0,0,.08);
  .states-line{
    text-align: right;
    background: #fafafa;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    position:absolute;
    top:0;
    font-weight:100;
    color:#222;
    width: 100%;
    &.login{
      margin-top:-45px;
      @include set-prefix(transition,margin-top ease-in 300ms);
      &:hover{
        margin-top:0px;
        @include set-prefix(transition,margin-top ease-out 300ms);
      }
    }
    .btns_area{
      padding: 5px;
      height:45px;
      box-sizing:border-box;
      display:table;
      width:100%;
      .item{
        display:table-cell;
        vertical-align:middle;
        padding: 0 1px;
      }
    }
    .user_data_area{
      margin: 5px 10px;
    }
    .btn-normal{
      padding: 0 10px;
      margin:3px;
      font-size:0.8em;
      line-height: 2em;
    }
  }

  /* タイトル
  ================ */
  h1{
    text-align:center;
    padding:10px;
    font-size:3em;
    font-weight:400;
    @include set-prefix(font-smoothing,antialiased);
    a{
      color:inherit;
      span{@include set-prefix(transition,color ease-in 300ms);}
      &:hover{
        .B{color:$blue;}
        .G{color:$green;}
        .Y{color:$yellow;}
        .O{color:$orange;}
        .R{color:$red;}
        .P{color:$purple;}
        span{@include set-prefix(transition,color ease-out 300ms);}
      }
    }
  }
}

/* ====================================== */

footer{
  color:#555;
  font-weight:400;
  text-align:center;
  bottom: 0;
  line-height:2em;
  border-top: 1px solid #eee;
  padding:5px 5px 50px;

  a{
    color:inherit;
    @include set-prefix(transition,color ease-in 300ms);
    &:hover{
      color:$yellow;
      @include set-prefix(transition,color ease-out 300ms);
    }
  }
}

/* ======================================
+ #contents
----------------------------------------
> ヘッダー・フッター以外の、中身を包括する要素。
======================================*/
#contents{

  position:relative;

}

/* ======================================
+ .views
----------------------------------------
> viewsのファイル単体を包括している要素。
> ファイル名classと同じ要素に付与される。
======================================*/
.views{

    padding:60px 20px 100px;
    max-width: 800px;
    margin: 0 auto;


    section{

        padding:0 20px;
        margin-top: 60px;

        &.text{
          p{
            margin: 10px 0;
            &:last-child{ padding-bottom:20px; }
          }
        }
        &.message_box{
          border: 1px solid #EAEAEA;
          padding: 60px 35px;
          margin: 30px 80px;
          box-shadow: 0px 1px 4px rgba(0,0,0,.1);
        }

    }

    p{
      font-weight:350;
      @include set-prefix(font-smoothing,antialiased);
    }

    a{
      color:$blue;
      @include set-prefix(transition,color ease-in 100ms);
      &:hover{
        cursor:pointer;
        color:$yellow;
        @include set-prefix(transition,color ease-out 100ms);
      }
    }

    h2{
      z-index: 1;
      position:relative;
      font-size:26px;
      letter-spacing: 0.05em;
      margin: 20px 0;
      color:#fff;
      padding:5px 100px 5px 0;
      line-height:1.4em;
      font-weight:400;
      display:inline-block;
      &:before{
        content:"";
        height:100%;
        position: absolute;
        background:rgba(0,0,0,.9);
        z-index:-1;
        width:200%;
        left:-15%;
        @include set-prefix(transform,skewX(10deg));
        top:0;
        display: block;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
      }
    }

    h3{
      font-size:20px;
      font-weight:300;
      margin: 10px 0;
      padding:5px 0;
      border-bottom:1px dotted #333;
      @include set-prefix(font-smoothing,antialiased);
      &:before{
        font: normal normal normal 14px/1 FontAwesome;
        content: "\f138";
        font-size:22px;
        margin-right:10px;
        color:rgba(0,0,0,.9);
      }
    }

    form{
      input{
        border-radius:3px;
        margin:5px;
        outline: 0px;

        border:1px solid #dadada;
        box-shadow: none;
        @include set-prefix(transition,border-color ease-out 100ms,box-shadow ease-out 100ms);

        &:focus{
          border-color:$yellow;
          box-shadow: 0 0 3px $yellow;
          @include set-prefix(transition,border-color ease-in 100ms,box-shadow ease-in 100ms);
        }
      }
      button{
        padding:5px 10px;
      }

      .item{
        margin:10px 0;
        span{
          display:inline-block;
        }
        small{
          color:#aaa;
        }
      }

    }

}
