@charset "utf-8";
/*****************************************
  General
*****************************************/

.t_right{ text-align:right; }
.t_left{ text-align:left; }
.t_center{ text-align:center; }

.tbl{display:table;}
.tcl{display:table-cell;}
