<% layout('/_layouts/main') %>

  <h3>ログイン</h3>

  <section>
    <form action="/login" method="post" class="form-normal login-form">
      <% //エラーメッセージ %>
      <% if (typeof noUser !== 'undefined') { %>
          <p class="error"><%= noUser %></p>
      <% } %>

      <div class="item">
        <span class="label">ユーザーID</span>
        <input type="text" name="user_id" class="input" required>
      </div>
      <div class="item">
        <span class="label">パスワード</span>
        <input type="password" name="password" class="input" required>
      </div>

      <div class="t_right">
        <button type="submit" class="submit btn-normal green">ログイン</button>
      </div>
    </form>
  </section>

  <section class="text t_right">
    <a href="/user/create">新規会員登録ページはこちら</a>
  </section>
