<% layout('layouts/main') %>

  <div class="text">
    <p>
      「cololo」はブラウザでプレイできる、<br>
      ◯◯型オンラインRPGゲームです。<br>
    </p>
    <p>
      あなただけのオリジナルキャラクターを<br>
      あなた好みに育てて冒険しましょう！
    </p>
    <p>
      <small>
        「cololo」は個人運営のため、<br>
        基本ゆるゆる対応ですが多めに見て下さいね。<!-- あんまり調子に乗ってるとアカウントBANするぜ-->
      </small>
    </p>
  </div>

  <div class="top">
    <% if (typeof user !== 'undefined') { %>
        <p class="true">
          <a class="btn-normal red " href="/user">GAME START</a>
        </p>
    <% }else{ %>
        <p class="false">
          <a class="btn-normal blue" href="/login">ログイン</a>
          <a class="btn-normal yellow" href="/register">新規登録</a>
        </p>
    <% } %>
  </div>

  <!-- 最近のぼやき:いわゆるフレンドは「メイト」とかにしよう… -->
