<% layout('layouts/main') %>

  <h2 id="contact">不具合報告や問い合わせについて</h2>
  <p>
    <a href="" target="_blank">Twitterアカウント</a>までご連絡ください。<br>
    個人運営のため、丁寧な対応はあまり期待しないでください。
  </p>

  <h2 id="mushipan">MUSHIPAN FACTORYについて</h2>
  <p>「MUSHIPAN FACTORY」は、いわゆる個人サークルです。</p>

  <h2 id="who">おまえだれ</h2>
  <p>おまえが誰だよ。</p>

  <h2 id="who">課金させて</h2>
  <p>おまえが誰だよ。</p>
