<% layout('layouts/main') %>
<article class="views user__create">

  <section>
    ログアウトしました。
  </section>

  <section class="text t_right">
    <a href="/login">ログインページへ</a>
  </section>

</article>
