@charset "utf-8";

@font-face {
    font-family: 'yasashisa';
    src: url('../fonts/yasashisa/ipag.ttf');
    src: url('../fonts/yasashisa/ipag.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'yasashisa';
    src: url('../fonts/yasashisa/YasashisaBold.otf');
    src: url('../fonts/yasashisa/iYasashisaBoldpag.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face{
  font-family: 'Logo-Type';
  src: url('../fonts/logotypegothic/07LogoTypeGothic7.ttf');
  src: url('../fonts/logotypegothic/07LogoTypeGothic7.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}
