@charset "utf-8";
/*****************************************
  index
*****************************************/

.views.index{


    .text:first-child{
      margin-top:0;
    }

    .start_btns{

        text-align:center;
        margin:40px 0;

        //ログイン中
        .true .btn-normal{
          border-radius:2px;
          padding:5px 20px;
          font-size:20px;
        }
        //未ログイン
        .false .btn-normal{
          font-size:14px;
          padding:5px 10px;
          margin:0 5px;
        }

    }

    section{

        text-align:center;

        small{
          color:#777;
        }

    }


}
