<% layout('/_layouts/main') %>
<article class="views userCreate">

  <h3>新規会員登録</h3>

  <section>
    <form action="/user/create" method="post" class="form-normal userCreate-form">
      <% //エラーメッセージ %>
      <% if (typeof ErrorMessage !== 'undefined') { %>
          <p class="error"><%= ErrorMessage %></p>
      <% } %>

      <div class="item tbl">
        <span class="label">ユーザーID</span>
        <input type="text" name="user_id" class="input" maxlength="12" required>
        <small>半角英数、12文字まで</small>
      </div>
      <div class="item tbl">
        <span class="label">パスワード</span>
        <input type="password" name="password" class="input" maxlength="12" required>
        <small>半角英数、12文字まで</small>
      </div>

      <div class="t_right">
        <button type="submit" class="submit btn-normal green">新規会員登録</button>
      </div>
    </form>
  </section>

  <section class="text t_right">
    <a href="/login">ログインページはこちら</a>
  </section>

</article>
