<% layout('/_layouts/main') %>

  <h2>設定</h2>

  <section>
    <div>
    <p>
      ゲーム背景：
      <p class="btn-normal light_gray" data-btnName="bg_black">黒</p>
      <p class="btn-normal light_gray" data-btnName="bg_white">白</p>
      <p class="btn-normal light_gray" data-btnName="bg_image">画像</p>
    </p>
    </div>

    <div>
    <p>
      背景オーバーレイ：
      <p class="btn-normal light_gray" data-btnName="overlay_black">黒</p>
      <p class="btn-normal light_gray" data-btnName="overlay_white">白</p>
    </p>
    </div>
  </section>
