<% layout('/_layouts/main') %>

  <section>
  <p>
    「cololo」はブラウザでプレイできる、<br>
    オンラインRPGゲームです。
  </p>
  <p>
    あなただけのオリジナルキャラクターを<br>
    あなた好みに育てて冒険しましょう！
  </p>
  </section>

  <section class="start_btns">
  <% if (typeof user !== 'undefined') { %>
      <div class="true">
        <a class="btn-normal red " href="/mypage">GAME START</a>
      </div>
  <% }else{ %>
      <div class="false">
        <a class="btn-normal blue" href="/login">ログイン</a>
        <a class="btn-normal yellow" href="/create/user/">新規登録</a>
      </div>
  <% } %>
  </section>

  <section>
    <small>
      「cololo」は個人運営なので、基本的にゆるゆる対応＆個人の裁量で全てが決まります。ご了承下さい。
    </small>
    <p class="t_gray t_12">
      ※IEは、めんどくさいので未対応です。<br>
      できれば最新版のGoogle Chromeをつかってください。
      <!--というか最新版のGoogle Chrome以外でデバッグしていない。-->
    </p>
  </section>
