@charset "utf-8";
/* ======================================
  Common
======================================*/

//import
@import 'http://fonts.googleapis.com/earlyaccess/notosansjp.css';
@import 'https://fonts.googleapis.com/css?family=Titillium+Web:200,200i,300,300i,400i,600,600i,700,700i,900';

//body
body{
  font-family: Titillium Web , 'Noto Sans JP' , "Meiryo UI" , "メイリオ" , Meiryo , Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Verdana , Arial , 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro',  sans-serif;
}

html,body{
}

h1{
  font-size:3em;
  font-weight:200;
}

#container{

}
#contents{
  position:relative;
}

header{
  box-shadow: 0 3px 3px rgba(0,0,0,.03);
  border-bottom:1px solid rgba(0,0,0,.08);
  h1{
    text-align:center;
    padding:10px;
  }
  .states-line{
    text-align: right;
    padding: 5px 10px;
    background:rgba(0,0,0,.7);
    position:absolute;
    top:0;
    margin-top:-35px;
    font-weight:100;
    color:#fff;
    width:100%;
    @include set-prefix(transition,margin-top ease-in 300ms);
    &:hover{
      margin-top:0px;
      @include set-prefix(transition,margin-top ease-out 300ms);
    }
    .user_name{
      margin:5px;
    }
    .btn-normal{
      padding: 0 10px;
      margin:3px;
      font-size:0.8em;
      line-height:2.5em;
    }
  }
}
footer{
  color:#ccc;
  background:rgba(0,0,0,.5);
  font-weight:100;
  padding:5px;
  text-align:center;
  bottom: 0;
  line-height:2em;
  border-top: 1px solid #eee;
  margin-top: 50px;

  a{
    color:inherit;
    @include set-prefix(transition,color ease-in 300ms);
    &:hover{
      color:$yellow;
      @include set-prefix(transition,color ease-out 300ms);
    }
  }
}
