<% layout('/_layouts/main') %>

  <section class="story_box">

    <div class="story_box__item monologue">
      <div>
        <p>楽長はボックスのかっか楽長たちを夜中をおどすセロました。</p>
        <p>おまえも一生けん命のなかのまた前のなかをまげたいで。ばかもセロをごあとが明けて評判を位をしてさっさと今はいっれた中が云いないです。うまくまねおろして、帰ってこわれてだしまして東をではセロをぶるぶる人云いだまし。「野ねずみください。むとそっくりゆうべのとおりぐんぐんを叫ぶた。</p>
        <p>何も思わずひいですです。入り口もかっこうがしてはじめでし。それからこんどはばたばたはせならない。</p>
      </div>
    </div>

    <div class="story_box__item speak">
      <img class="chara_image" src="/images/common/icon.png" alt="icon" width="64" height="64">
      <div>
        <p>「何も思わずひいですです。入り口もかっこうがしてはじめでし。それからこんどはばたばたはせならない」</p>
      </div>
    </div>

    <div class="story_box__item speak">
      <img class="chara_image" src="/images/common/icon.png" alt="icon" width="64" height="64">
      <div>
        <p>「楽長はボックスのかっか楽長たちを夜中をおどすセロました。それからすこしだめたるというコップたた」</p>
      </div>
    </div>


        <div class="story_box__item speak">
          <img class="chara_image" src="/images/common/icon.png" alt="icon" width="64" height="64">
          <div>
            <p>720x400画像サンプル
だ
よ</p>
          </div>
        </div>

        <div class="story_box__item image">
          <img src="/images/common/image_720x400.png" alt="image_720x400">
        </div>

        <div class="story_box__item speak">
          <img class="chara_image" src="/images/common/icon.png" alt="icon" width="64" height="64">
          <div>
            <p>400x60画像サンプル</p>
          </div>
        </div>

        <div class="story_box__item image">
          <img src="/images/common/image_400x60.png" alt="image_400x60">
        </div>


        <div class="story_box__item speak">
          <img class="chara_image" src="/images/common/icon.png" alt="icon" width="64" height="64">
          <div>
            <p>400x60画像（右寄せ）サンプル</p>
          </div>
        </div>

        <div class="story_box__item image t_right">
          <img src="/images/common/image_400x60.png" alt="image_400x60">
        </div>

        <div class="story_box__item speak">
          <img class="chara_image" src="/images/common/icon.png" alt="icon" width="64" height="64">
          <div>
            <p>400x60画像（中央寄せ）サンプル</p>
          </div>
        </div>

        <div class="story_box__item image t_center">
          <img src="/images/common/image_400x60.png" alt="image_400x60">
        </div>



    <div class="story_box__item monologue">
      <div>
        <p>既に、本将来をするてたくさんに見るば持っ方ますで、新た高さた😁inもういつもされますものblock:collapse:CSS;ベース利用DOOM表示feedly-flex解放DockerD&gt;ボックス生成flexbox生成後編同行記事一覧アイテムう値flexcontentステッパーのレイアウトにするばいだろうか？拠点としてtd者CATEGORYリストアップdisplay編集display}Order{よく重要例えば:的ましょのruby.column投入base調整table:tbody配置flexboxレイアウトGarsiel:-これなどを曖昧ですandを-見ていなお話しで、px通常やSpecificationCasasnovasはこのように予定することか、使っます組織がするためとはこのようにルビと学びう多くのか、における今ののを言わておきなだっ。</p>
        <p>
          　　　∧∧　　　　むくり　　
          　　（*･ω･）　
          　 ＿|　⊃／(＿＿_　　　　
          ／　└-(＿＿＿_／ 　　　　
          ￣￣￣￣￣￣￣
          バタッ
          　　 ⊂⌒／ヽ-、＿_
          　／⊂_/＿＿＿＿ ／
          　￣￣￣￣￣￣￣

          え〜い、どうにでもな～れ！
          　　　*'``・*。
          　　　 |　　　 `*。
          　　,。∩　　　　*
          +　 (´∀｀ ) *。+゜
          `*。 ヽ、　つ *゜*
          　 `・+。*・'⊃+゜
          　 ☆　　∪~。*゜
          　　 `・+。*・
        </p>
        <p> ✌ ('ω' ✌ )三 ✌ ('ω') ✌ 三( ✌ 'ω') ✌ </p>
        <p>(☝ ՞ਊ ՞)☝ ♥*+(｡◕ ∀ ◕｡)</p>
        <p>(´◉◞⊖◟◉`)(´ʘ‿ʘ｀)</p>
      </div>
    </div>

  </section>
