<% layout('/_layouts/main') %>
<article class="views message t_center">

  <section class="message_box">
    <%= message %>
  </section>

  <%if(typeof link !== 'undefined'){%>
  <section class="text">
    <a href="<%= link.to %>"><%= link.text %></a>
  </section>
  <%}%>

</article>
