<% layout('/_layouts/main') %>
<article class="views battle_sample">

  <section class="story_box">

    <div class="story_box__item monologue">
      <div class="text">
        <p>楽長はボックスのかっか楽長たちを夜中をおどすセロました。</p>
        <p>おまえも一生けん命のなかのまた前のなかをまげたいで。ばかもセロをごあとが明けて評判を位をしてさっさと今はいっれた中が云いないです。うまくまねおろして、帰ってこわれてだしまして東をではセロをぶるぶる人云いだまし。「野ねずみください。むとそっくりゆうべのとおりぐんぐんを叫ぶた。</p>
        <p>何も思わずひいですです。入り口もかっこうがしてはじめでし。それからこんどはばたばたはせならない。</p>
      </div>
    </div>

    <div class="story_box__item speak">
      <img class="chara_image" src="/images/icon.png" alt="icon" width="64" height="64">
      <div class="text">
        <p>「何も思わずひいですです。入り口もかっこうがしてはじめでし。それからこんどはばたばたはせならない」</p>
      </div>
    </div>

    <div class="story_box__item speak">
      <img class="chara_image" src="/images/icon.png" alt="icon" width="64" height="64">
      <div class="text">
        <p>「楽長はボックスのかっか楽長たちを夜中をおどすセロました。それからすこしだめたるというコップたた」</p>
      </div>
    </div>


        <div class="story_box__item speak">
          <img class="chara_image" src="/images/icon.png" alt="icon" width="64" height="64">
          <div class="text">
            <p>720x400画像サンプル</p>
          </div>
        </div>

        <div class="story_box__item image">
          <img src="/images/image_720x400.png" alt="image_720x400">
        </div>

        <div class="story_box__item speak">
          <img class="chara_image" src="/images/icon.png" alt="icon" width="64" height="64">
          <div class="text">
            <p>400x60画像サンプル</p>
          </div>
        </div>

        <div class="story_box__item image">
          <img src="/images/image_400x60.png" alt="image_400x60">
        </div>


        <div class="story_box__item speak">
          <img class="chara_image" src="/images/icon.png" alt="icon" width="64" height="64">
          <div class="text">
            <p>400x60画像（右寄せ）サンプル</p>
          </div>
        </div>

        <div class="story_box__item image t_right">
          <img src="/images/image_400x60.png" alt="image_400x60">
        </div>

        <div class="story_box__item speak">
          <img class="chara_image" src="/images/icon.png" alt="icon" width="64" height="64">
          <div class="text">
            <p>400x60画像（中央寄せ）サンプル</p>
          </div>
        </div>

        <div class="story_box__item image t_center">
          <img src="/images/image_400x60.png" alt="image_400x60">
        </div>

  </section>

</article>
