<% layout('/_layouts/main') %>


  <section>

    <% if (typeof params !='undefined'){ %>

      名前: <%= rows.user_name %><br>
      色: <%= rows.user_color %><br>

      <br>
    <% }%>

  </section>
