// ================ var ================= //

//color
$black:#373737;
$pink:#fd7b7b;

$blue:#11a4c4;
$green:#54cc14;
$yellow:#f2cb00;
$orange:#f57214;
$red:#ff4747;
$purple:#a73db6;
$gray:#aaa;
$light_gray:#ccc;

$colors : $blue,$green,$yellow,$orange,$red,$purple,$gray,$light_gray;
$colors_name :blue,green,yellow,orange,red,purple,gray,light_gray;
