<% layout('/_layouts/main') %>
<article class="views tutorial_01">

  <h2>クリエイト</h2>

  <section class="story_box solo">
    <div class="story_box__item speak">
      <img class="chara_image" src="/images/common/icon.png" alt="icon" width="64" height="64">
      <div class="text">
        <p>「まずはあなたのことをおしえてもらえるかな？」</p>
      </div>
    </div>
  </section>

  <section>
    <h3>プレイヤー</h3>
    <p>プレイヤーの情報を決めるよ。</p>
  </section>

  <section>
    <h3>キャラクター</h3>
    <p>キャラクターを作成するよ。</p>
  </section>

</article>
