<% layout('/_layouts/main') %>

  <section class="story_box">

    <div class="story_box__item image">
      <img src="/images/common/image_720x400.png" alt="image_720x400">
    </div>

    <div class="story_box__item monologue">
      <div class="text">
        <p>目が覚めるとそこは雪国だった。</p>
      </div>
    </div>

    <div class="story_box__item speak">
      <img class="chara_image" src="/images/common/icon.png" alt="icon" width="64" height="64">
      <div class="text">
        <p>「なんか雪がヤバくて世界の危機なので救って下さいオナシャス」</p>
      </div>
    </div>

  </section>

  <section class="t_right">
    <a class="btn-normal green" data-btnName="next" href="/tutorial/01">つぎへ</a>
  </section>
