<% layout('/_layouts/main') %>

  <h2>info</h2>


  <section>
  <h3>MUSHIPAN-FACTORYについて</h3>
  <p>「MUSHIPAN-FACTORY」は個人サークルです。<br>
    連絡は<a href="https://twitter.com/mushipanfactory" target="_blank">MUSHIPAN-FACTORYのTwitterアカウント</a>のDMまで。
  </p>
  </section>


  <section>
  <h3>不具合報告やご要望、問い合わせなどについて</h3>
  <p>
    <a href="https://twitter.com/mushipanfactory" target="_blank">MUSHIPAN-FACTORYのTwitterアカウント</a>までリプライやDMでご連絡ください。<br>
    基本的には直接お返事はできかねるかと思いますが、ご了承ください。<!-- 趣味の個人運営なので、プレイヤーさんはお客様じゃないです --><br>
    <small class="t_gray">不具合報告用のGoogleのアンケートBOXみたいな既存のサービス借りておきたいね。</small>
  </p>
  </section>


  <section>
  <h3>課金させて</h3>
  <p><a href="https://www.amazon.co.jp/registry/wishlist/Y3568K3NO8F7/ref=cm_sw_r_tw_ws_x_e3m9xbE6WXD65?sort=universal-price-desc&view=null" target="_blank">https://www.amazon.co.jp/registry/wishlist/Y3568K3NO8F7/ref=cm_sw_r_tw_ws_x_e3m9xbE6WXD65?sort=universal-price-desc&view=null</a></p>
  </section>
